.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70vh;
    background-color: #DDEAEF;
}

.contento{
    margin-top: auto;
}