.btn-option{
    width: 400px;
    height: 50px;
    background-color: pink;
    border-radius: 10px;
    font-family: 'Ribeye Marrow', cursive;
    color: #000000;
    font-style: inherit;
}

.container-op{
    margin-bottom: 15px;
}